@import "tailwindcss";

@theme {
  --color-espresso: #726555; /* primary buttons / headings */
  --color-foam: #eae8d7; /* backgrounds */
  --color-accent: #72a4a9; /* highlights */
  --color-text: #405a5a; /* paragraph text */

  --font-sans: "Outfit", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-playfair: "Playfair Display SC", serif;
}

@layer components {
  .base_h2 {
    @apply text-4xl text-center font-bebas pb-12 lg:text-5xl;
  }
  .grid-items {
    @apply relative w-full rounded-xl bg-gray-300 bg-cover bg-center bg-no-repeat overflow-hidden h-[20rem] md:h-full;
  }
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: black;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

/* When open */
.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #000;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #000;
}
