@import "tailwindcss";

@theme {
  --color-espresso: #726555; /* primary buttons / headings */
  --color-foam: #eae8d7; /* backgrounds */
  --color-accent: #72a4a9; /* highlights */
  --color-text: #405a5a; /* paragraph text */

  --font-sans: "Outfit", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-playfair: "Playfair Display SC", serif;
}

@layer components {
  .base_h2 {
    @apply text-4xl text-center font-bebas pb-12 lg:text-5xl;
  }

  .inputs {
    @apply bg-white rounded-xl w-[80%] border-2 border-black p-2;
  }

  .contenedor_il {
    @apply flex flex-col items-start w-full py-4;
  }

  .contenedor_2i {
    @apply flex flex-col md:flex-row w-full flex-nowrap items-center justify-between;
  }

  .sucursal_card {
    @apply relative flex flex-col w-full max-w-sm md:max-w-lg h-[400px] rounded-xl bg-center bg-cover bg-no-repeat;
  }

  .sucursales_container {
    @apply flex flex-col gap-8 items-center justify-center mx-auto w-full md:flex-row;
  }

  .div_sucursal {
    @apply absolute flex flex-col items-start justify-around bg-espresso/90 bottom-0 left-0 right-0 h-fit px-3 py-3 rounded-b-xl gap-3;
  }

  .sucursal_link {
    @apply bg-white text-espresso px-4 py-2 border-2 border-white rounded-xl hover:bg-espresso transition-colors hover:text-white;
  }

  .hero-bg-coffee-shop {
    background-image: image-set(
      url("/imagenes_avif_rest/coffee_shop.avif") type("image/avif"),
      url("/imagenes_webp_rest/coffee_shop.webp") type("image/webp"),
      url("/imagenes/coffee_shop.jpg") type("image/jpeg")
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: black;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

/* When open */
.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #000;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #000;
}
